@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import './reset.scss';
@import './root.scss';
@import './navigation.scss';
@import './header.scss';
@import './footer.scss';

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--main-background-color);
  min-height: 100vh;
  margin: 0;
}

.logo {
  font-size: 2.5rem;
}
